@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 6%;
  --foreground: 210 20% 96%;
  --primary: 217 91% 60%;
  --muted: 217 19% 27%;
  --border: 217 19% 20%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
